.xida-button-group {
  --xida-button-group-border-color: var(--xida-border-color-lighter);
}

.xida-button {
  --xida-button-font-weight: var(--xida-font-weight-primary);
  --xida-button-border-color: var(--xida-border-color);
  --xida-button-bg-color: var(--xida-fill-color-blank);
  --xida-button-text-color: var(--xida-text-color-regular);
  --xida-button-disabled-text-color: var(--xida-disabled-text-color);
  --xida-button-disabled-bg-color: var(--xida-fill-color-blank);
  --xida-button-disabled-border-color: var(--xida-border-color-light);
  --xida-button-hover-text-color: var(--xida-color-primary);
  --xida-button-hover-bg-color: var(--xida-color-primary-light-9);
  --xida-button-hover-border-color: var(--xida-color-primary-light-7);
  --xida-button-active-text-color: var(--xida-button-hover-text-color);
  --xida-button-active-border-color: var(--xida-color-primary);
  --xida-button-active-bg-color: var(--xida-button-hover-bg-color);
  --xida-button-outline-color: var(--xida-color-primary-light-5);
  --xida-button-active-color: var(--xida-text-color-primary);
}

.xida-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--xida-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--xida-button-font-weight);
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--xida-button-bg-color);
  border: var(--er-border);
  border-color: var(--xida-button-border-color);
  padding: 8px 15px;
  font-size: var(--xida-font-size-base);
  border-radius: var(--xida-border-radius-base);

  &+& {
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    color: var(--xida-button-hover-text-color);
    border-color: var(--xida-button-hover-border-color);
    background-color: var(--xida-button-hover-bg-color);
    outline: none;
  }

  &:active {
    color: var(--xida-button-active-text-color);
    border-color: var(--xida-button-active-border-color);
    background-color: var(--xida-button-active-bg-color);
    outline: none;
  }

  /*plain*/
  &.is-plain {
    --xida-button-hover-text-color: var(--xida-color-primary);
    --xida-button-hover-bg-color: var(--xida-fill-color-blank);
    --xida-button-hover-border-color: var(--xida-color-primary);
  }

  /*round*/
  &.is-round {
    border-radius: var(--xida-border-radius-round);
  }

  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }

  /*disabled*/
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--xida-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--xida-button-disabled-bg-color);
    border-color: var(--xida-button-disabled-border-color);
  }

  [class*='er-icon'] {
    width: 1em;
    height: 1em;
  }
}

/* 定义按钮类型列表 */
/* @define button-types primary, success, warning, info, danger;

@each $val in button-types {
  .xida-button--$val {
    --xida-button-text-color: var(--xida-color-white);
    --xida-button-bg-color: var(--xida-color-$val);
    --xida-button-border-color: var(--xida-color-$val);
    --xida-button-outline-color: var(--xida-color-$val-light-5);
    --xida-button-active-color: var(--xida-color-$val-dark-2);
    --xida-button-hover-text-color: var(--xida-color-white);
    --xida-button-hover-bg-color: var(--xida-color-$val-light-3);
    --xida-button-hover-border-color: var(--xida-color-$val-light-3);
    --xida-button-active-bg-color: var(--xida-color-$val-dark-2);
    --xida-button-active-border-color: var(--xida-color-$val-dark-2);
    --xida-button-disabled-text-color: var(--xida-color-white);
    --xida-button-disabled-bg-color: var(--xida-color-$val-light-5);
    --xida-button-disabled-border-color: var(--xida-color-$val-light-5);
  }

  .xida-button--$val.is-plain {
    --xida-button-text-color: var(--xida-color-$val);
    --xida-button-bg-color: var(--xida-color-$val-light-9);
    --xida-button-border-color: var(--xida-color-$val-light-5);
    --xida-button-hover-text-color: var(--xida-color-white);
    --xida-button-hover-bg-color: var(--xida-color-$val);
    --xida-button-hover-border-color: var(--xida-color-$val);
    --xida-button-active-text-color: var(--xida-color-white);

    --xida-button-disabled-text-color: var(--xida-color-$val-light-5);
    --xida-button-disabled-bg-color: var(--xida-color-$val-light-9);
    --xida-button-disabled-border-color: var(--xida-color-$val-light-8);
  }
} */

.xida-button--primary {
  --xida-button-text-color: var(--xida-color-white);
  --xida-button-bg-color: var(--xida-color-primary);
  --xida-button-border-color: var(--xida-color-primary);
  --xida-button-outline-color: var(--xida-color-primary-light-5);
  --xida-button-active-color: var(--xida-color-primary-dark-2);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-primary-light-3);
  --xida-button-hover-border-color: var(--xida-color-primary-light-3);
  --xida-button-active-bg-color: var(--xida-color-primary-dark-2);
  --xida-button-active-border-color: var(--xida-color-primary-dark-2);
  --xida-button-disabled-text-color: var(--xida-color-white);
  --xida-button-disabled-bg-color: var(--xida-color-primary-light-5);
  --xida-button-disabled-border-color: var(--xida-color-primary-light-5);
}

.xida-button--primary.is-plain {
  --xida-button-text-color: var(--xida-color-primary);
  --xida-button-bg-color: var(--xida-color-primary-light-9);
  --xida-button-border-color: var(--xida-color-primary-light-5);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-primary);
  --xida-button-hover-border-color: var(--xida-color-primary);
  --xida-button-active-text-color: var(--xida-color-white);
  --xida-button-disabled-text-color: var(--xida-color-primary-light-5);
  --xida-button-disabled-bg-color: var(--xida-color-primary-light-9);
  --xida-button-disabled-border-color: var(--xida-color-primary-light-8);
}

.xida-button--success {
  --xida-button-text-color: var(--xida-color-white);
  --xida-button-bg-color: var(--xida-color-success);
  --xida-button-border-color: var(--xida-color-success);
  --xida-button-outline-color: var(--xida-color-success-light-5);
  --xida-button-active-color: var(--xida-color-success-dark-2);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-success-light-3);
  --xida-button-hover-border-color: var(--xida-color-success-light-3);
  --xida-button-active-bg-color: var(--xida-color-success-dark-2);
  --xida-button-active-border-color: var(--xida-color-success-dark-2);
  --xida-button-disabled-text-color: var(--xida-color-white);
  --xida-button-disabled-bg-color: var(--xida-color-success-light-5);
  --xida-button-disabled-border-color: var(--xida-color-success-light-5);
}

.xida-button--success.is-plain {
  --xida-button-text-color: var(--xida-color-success);
  --xida-button-bg-color: var(--xida-color-success-light-9);
  --xida-button-border-color: var(--xida-color-success-light-5);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-success);
  --xida-button-hover-border-color: var(--xida-color-success);
  --xida-button-active-text-color: var(--xida-color-white);
  --xida-button-disabled-text-color: var(--xida-color-success-light-5);
  --xida-button-disabled-bg-color: var(--xida-color-success-light-9);
  --xida-button-disabled-border-color: var(--xida-color-success-light-8);
}

.xida-button--warning {
  --xida-button-text-color: var(--xida-color-white);
  --xida-button-bg-color: var(--xida-color-warning);
  --xida-button-border-color: var(--xida-color-warning);
  --xida-button-outline-color: var(--xida-color-warning-light-5);
  --xida-button-active-color: var(--xida-color-warning-dark-2);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-warning-light-3);
  --xida-button-hover-border-color: var(--xida-color-warning-light-3);
  --xida-button-active-bg-color: var(--xida-color-warning-dark-2);
  --xida-button-active-border-color: var(--xida-color-warning-dark-2);
  --xida-button-disabled-text-color: var(--xida-color-white);
  --xida-button-disabled-bg-color: var(--xida-color-warning-light-5);
  --xida-button-disabled-border-color: var(--xida-color-warning-light-5);
}

.xida-button--warning.is-plain {
  --xida-button-text-color: var(--xida-color-warning);
  --xida-button-bg-color: var(--xida-color-warning-light-9);
  --xida-button-border-color: var(--xida-color-warning-light-5);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-warning);
  --xida-button-hover-border-color: var(--xida-color-warning);
  --xida-button-active-text-color: var(--xida-color-white);
  --xida-button-disabled-text-color: var(--xida-color-warning-light-5);
  --xida-button-disabled-bg-color: var(--xida-color-warning-light-9);
  --xida-button-disabled-border-color: var(--xida-color-warning-light-8);
}

.xida-button--info {
  --xida-button-text-color: var(--xida-color-white);
  --xida-button-bg-color: var(--xida-color-info);
  --xida-button-border-color: var(--xida-color-info);
  --xida-button-outline-color: var(--xida-color-info-light-5);
  --xida-button-active-color: var(--xida-color-info-dark-2);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-info-light-3);
  --xida-button-hover-border-color: var(--xida-color-info-light-3);
  --xida-button-active-bg-color: var(--xida-color-info-dark-2);
  --xida-button-active-border-color: var(--xida-color-info-dark-2);
  --xida-button-disabled-text-color: var(--xida-color-white);
  --xida-button-disabled-bg-color: var(--xida-color-info-light-5);
  --xida-button-disabled-border-color: var(--xida-color-info-light-5);
}

.xida-button--info.is-plain {
  --xida-button-text-color: var(--xida-color-info);
  --xida-button-bg-color: var(--xida-color-info-light-9);
  --xida-button-border-color: var(--xida-color-info-light-5);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-info);
  --xida-button-hover-border-color: var(--xida-color-info);
  --xida-button-active-text-color: var(--xida-color-white);
  --xida-button-disabled-text-color: var(--xida-color-info-light-5);
  --xida-button-disabled-bg-color: var(--xida-color-info-light-9);
  --xida-button-disabled-border-color: var(--xida-color-info-light-8);
}

.xida-button--danger {
  --xida-button-text-color: var(--xida-color-white);
  --xida-button-bg-color: var(--xida-color-danger);
  --xida-button-border-color: var(--xida-color-danger);
  --xida-button-outline-color: var(--xida-color-danger-light-5);
  --xida-button-active-color: var(--xida-color-danger-dark-2);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-danger-light-3);
  --xida-button-hover-border-color: var(--xida-color-danger-light-3);
  --xida-button-active-bg-color: var(--xida-color-danger-dark-2);
  --xida-button-active-border-color: var(--xida-color-danger-dark-2);
  --xida-button-disabled-text-color: var(--xida-color-white);
  --xida-button-disabled-bg-color: var(--xida-color-danger-light-5);
  --xida-button-disabled-border-color: var(--xida-color-danger-light-5);
}

.xida-button--danger.is-plain {
  --xida-button-text-color: var(--xida-color-danger);
  --xida-button-bg-color: var(--xida-color-danger-light-9);
  --xida-button-border-color: var(--xida-color-danger-light-5);
  --xida-button-hover-text-color: var(--xida-color-white);
  --xida-button-hover-bg-color: var(--xida-color-danger);
  --xida-button-hover-border-color: var(--xida-color-danger);
  --xida-button-active-text-color: var(--xida-color-white);
  --xida-button-disabled-text-color: var(--xida-color-danger-light-5);
  --xida-button-disabled-bg-color: var(--xida-color-danger-light-9);
  --xida-button-disabled-border-color: var(--xida-color-danger-light-8);
}

.xida-button--large {
  --xida-button-size: 40px;
  height: var(--xida-button-size);
  padding: 12px 19px;
  font-size: var(--xida-font-size-base);
  border-radius: var(--xida-border-radius-base);

  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}

.xida-button--small {
  --xida-button-size: 24px;
  height: var(--xida-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--xida-border-radius-base) - 1px);

  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 5px;
  }

  [class*='er-icon'] {
    width: 12px;
    height: 12px;
  }
}

.xida-button-group {
  display: inline-block;
  vertical-align: middle;

  &::after {
    clear: both;
  }

  &> :deep(.er-button) {
    float: left;
    position: relative;
    margin-left: 0;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: var(--xida-button-group-border-color);
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: var(--xida-button-group-border-color);
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;

      border-left-color: var(--xida-button-group-border-color);
      border-right-color: var(--xida-button-group-border-color);
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:first-child:last-child {
      border-top-right-radius: var(--xida-border-radius-base);
      border-bottom-right-radius: var(--xida-border-radius-base);
      border-top-left-radius: var(--xida-border-radius-base);
      border-bottom-left-radius: var(--xida-border-radius-base);

      &.is-round {
        border-radius: var(--xida-border-radius-round);
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
  }
}